<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Calendly Test</title>
  <meta name="viewport" content="width=device-width, initial-scaled = 1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body>
	<h1>Test</h1>
	<!-- Calendly inline widget begin -->
	<div class="calendly-inline-widget" style="min-width:320px;height:580px;" data-auto-load="false">
	 <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
	 <script>
	 Calendly.initInlineWidget({
	 url: 'https://calendly.com/paoval'
	 });
	 </script>
	</div>
	<!-- Calendly inline widget end -->

</body>
</html>