<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Calendly Test</title>
  <meta name="viewport" content="width=device-width, initial-scaled = 1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body>

	<div>
		<center>

			<iframe src="https://calendar.google.com/calendar/embed?src=ualberta.ca_9hmjmjj23mcpobubue6gomsf2o%40group.calendar.google.com&ctz=America%2FEdmonton" style="border: 0" width="900" height="700" frameborder="0" scrolling="no"></iframe>

		<!-- <iframe src="https://calendar.google.com/calendar/selfsched?sstoken=UU1lRzA1SlZVTVVnfGRlZmF1bHR8NTk5YzVjZjIwNTRjMDUwNjU1MWYwYThhYmQyMDcwNDk" style="border: 0" width="900" height="700" frameborder="0" scrolling="no"></iframe> -->
		</center>
	</div>
</body>
</html>

